<img src="/static/index/wap/images/Contact.jpg" style="    margin-bottom: 46px;" width="100%"/>
<style>
    .Nav i{
        width: 29px;
        float: left;
        margin: 12px 5px 0 15%;
        font-size: 29px;
        line-height: 27px;   color: white;   display: block;
    }
</style>
<ul class="Nav">
    <li class="Nav_l1"><a href="http://wpa.qq.com/msgrd?v=3&uin=995769915&site=qq&menu=yes"><i  class="layui-icon layui-icon-dialogue"></i>在线咨询</a></li>
    <li class="Nav_l2"><a href="tel://0937-2620655"> <i class="layui-icon layui-icon-cellphone"></i>来电咨询</a></li>
    <li class="Nav_l3" id="btnLeft1"><i  class="layui-icon layui-icon-home"></i>导&nbsp;&nbsp;&nbsp;航</li>
</ul>
</body>
</html>
{js href="/static/admin/layui/lay/modules/layer.js"}