
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/index/custom/sku_style.css" />
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/index/custom/customSku.js"></script>
<head>
    <meta charset="utf-8" />
    <title>(zxw)</title>
</head>
<body>

<button class="cloneSku">添加自定义客服</button>
<div id="skuCloneModel" style="display: none;">
    <div class="clear"></div>
    <ul class="SKU_TYPE">
        <li is_required='0' propid='' sku-type-name="">
            <input type="text" class="cusSkuTypeInput" placeholder="qq账户名" />
        </li>
    </ul>
    <ul>
        <li>
            <input type="text" class="cusSkuValInput" placeholder="qq号码" />
            <a href="javascript:void(0);" class="delCusSkuType">移除</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>

</body>
</html>