{include file="index/public/commonmenu" /}
<style>
    .container{
        width: 89%;
    }
    .show_met_11_3 .item{
        padding-top: unset;
    }
</style>
<section class="banner_met_11_6    banner-ny-h" m-id='73' m-type="banner" data-hash="首页" data-title="首页">
    <div class="banner">
        <div class="banner-warpper">
            <div
                    class="banner-item"
                    data-height="0|0|0"
                    data-autoplayspeed="4000"
                    data-src="/static/index/images/header_img.jpg"
                    data-speed="1000">
                <img src="/static/index/images/header_img.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<main class="news_list_detail_met_16_1 met-shownews animsition">
    <div class="container">
        <div class="row">
            <div class="met-shownews-body col-md-10 offset-md-1" m-id='62'>
                <div class="row">
                    <section class="details-title border-bottom1">
                        <h1 class='m-t-10 m-b-5'>{$data.title}</h1>
                        <div class="info font-weight-300">
                            <span>{$data.create_time}</span>
                            <span></span>
                            <span><i class="icon wb-eye m-r-5" aria-hidden="true"></i>136</span>
                        </div>
                    </section>
                    <section class="met-editor clearfix">
                        {$data.content}
                    </section>
                    <div class='met-page p-y-30 border-top1'>
                        <div class="container p-t-30 ">
                            <ul class="pagination block blocks-2">
                            <li class='page-item m-b-0 '>
                                <a href="<?php echo url('index/asks')?>?id={$data.id}&do=paging&point=up_paging" class='page-link pull-xs-right text-truncate' title="{if  !empty($upper_data)}{$upper_data.title}{/if}"  <?php if( !empty($up_disabled)):;?> onclick="return false;" style=" color:#9e9e9e; cursor: default"<?php Endif;?>><?php if( !empty($up_disabled)):;?>没有更多了<?php else:?>上一篇：<?php Endif;?>   <span aria-hidden="true" class='hidden-xs-down'> {if  !empty($upper_data)}{$upper_data.title}{/if}</span></a>
                            </li>
                            <li class='page-item m-b-0 '>
                                <a href="<?php echo url('index/asks')?>?id={$data.id}&do=paging&point=down_paging" title="{if  !empty($next_data)}{$next_data.title}{/if}" class='page-link pull-xs-right text-truncate' <?php if( !empty($down_disabled)):;?> onclick="return false;" style=" color:#9e9e9e; cursor: default"<?php Endif;?>><?php if( !empty($down_disabled)):;?>没有更多了<?php else:?>下一篇：<?php Endif;?>         <span aria-hidden="true" class='hidden-xs-down'>{if  !empty($next_data)}{$next_data.title}{/if} </span></a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class='foot_info_met_11_4 met-page' m-id='68' m-type="foot">
    <div class="container">
        <div class="left ">

            <div class="links text-xs-center" m-id='68' m-type="link">
                <ul class="breadcrumb p-0 link-img m-0">
                    <li class='breadcrumb-item'>东和盛泰集团</li>
                    <li class='breadcrumb-item'>
                        <a href="http://jqzxyy.com" title="酒泉华美医疗美容医院" target="_blank">
                            <span>酒泉华美医疗美容医院</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="http://juhuiny.com" title="炬晖农业" target="_blank">
                            <span>炬晖农业</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="http://xinyikang.juhuiny.com" title="心怡康养老院" target="_blank">
                            <span>心怡康养老院</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="javascript:alert('拨打电话：0937-5813011');" title="联系我们" target="_blank">
                            <span>联系我们</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="powered_by_metinfo">
                <b><a href="javascript:;" target=_blank></a></b> 2010-2019 &nbsp;  </div>
        </div>
        <div class="right">
            <div class="text">
                <p class="m-b-0">©copyright 2010-2019 心怡康医院 陇ICP备16001738号  </p>
                <p class="m-b-0">站长统计</p>
            </div>
            <div class="social">
                <!--QQ-->
                <a href="http://wpa.qq.com/msgrd?v=3&uin=805578494&site=qq&menu=yes" target="_blank">
                    <i class="fa fa-qq"></i>
                </a>
                <!--QQ-->
                <a href="javascript:;" rel="nofollow" target="_blank">
                    <i class="fa fa-weibo "></i>
                </a>
                <a id="met-weixin" data-plugin="webuiPopover" data-trigger="hover" data-animation="pop" data-placement='top' data-width='155' data-padding='0' data-content="<div class='text-xs-center'>
                    <img src='{$setting.wechat_code}' alt='官网平台' width='150' height='150' id='met-weixin-img'></div>">
                    <i class="fa fa-weixin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
{js href="/static/index/js/basic.js"}
{js href="/static/index/js/show_cn.js"}
{js href="/static/index/js/lang_json_cn.js"}