{include file="index/public/header" /}
<!-- 标准模式 -->
<main class="product_list_detail_met_16_1 page met-showproduct pagetype1" m-id='39'>
    <div class="met-showproduct-head page-content block-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class='met-showproduct-list fngallery cover text-xs-center    ' id='met-imgs-slick' m-id='noset' m-type="displayimgs">
                        <!--fngallery：启用lightGallery插件的类名-->
                        <div class='slick-slide'>
                            <a href='https://images.mituo.cn/mui111/upload/mui111/201805/1526033378.jpg' data-size='400x300' data-med='https://images.mituo.cn/mui111/upload/mui111/201805/1526033378.jpg' data-med-size='400x300' class='lg-item-box' data-src='https://images.mituo.cn/mui111/upload/mui111/201805/1526033378.jpg' data-exthumbimage="https://images.mituo.cn/mui111/upload/mui111/thumb_src/60_60/1526033378.jpg" data-sub-html='某地产样板房'>
                                <!--类名lg-item-box之前为initPhotoSwipeFromDOM插件所用参数；之后为lightGallery插件所用参数，lg-item-box：lightGallery插件对应的类名-->
                                <img
                                        src                                    ="https://images.mituo.cn/mui111/upload/mui111/thumb_src/400_300/1526033378.jpg" class='img-fluid' alt='某地产样板房' />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="product-intro">
                        <h1 class='m-t-0 font-size-24'>某地产样板房</h1>
                        <p class='description'>实现户外户内景观空间虚拟的720沉浸漫游 足不出户，也能动观天下</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="met-showproduct-body page-content">
        <div class="container">
            <div class="row">

                <!-- 内容选项卡 -->
                <div class="col-lg-9     pull-lg-right">

                    <div class="row">
                        <div class="panel panel-body m-b-0 product-detail" boxmh-mh >
                            <ul class="nav nav-tabs nav-tabs-line m-b-20 met-showproduct-navtabs">
                                <li class="nav-item">
                                    <a
                                            class='nav-link
                                                                            active
                                                                        ' data-toggle="tab" href="#product-content0" data-get="product-details">详细信息</a>
                                </li>
                            </ul>
                            <article class="tab-content">


                                <section class="tab-pane met-editor clearfix animation-fade
                                                                            active
                                                                        " id="product-content0">
                                    <p><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">提前销售，打破时间、空间限制。这是VR虚拟全景技术基于房地产最重要的一个方面。开发商从拿地到销售，最少也要6个月左右的时间，而VR虚拟全景技术能直接有效的将这一时间缩短，带给购房者不同的前置体验。通过VR虚拟全景技术，购房者可以提前看到室内样板间、室外景物、甚至小区的整体环境、规划及周边配套等等。沉浸式体验房屋布局、装修用料、不同朝向和不同楼层等未来生活的每一个细节。打破时间和空间的壁垒，帮助销售人员提前锁定客户。</span></p><p><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">VR虚拟全景样板间，拟补多品种户型展示。通常情况下，一个楼盘项目户型少则5-6个，多则十几个。而开发商一般只会选择主力户型来搭建实景样板间，其他户型只能看毛坯或平面户型图。VR虚拟全景技术的出现，拟补了这一户型展示上的缺陷，开发商可以选择将非主力户型采用VR虚拟全景技术搭建样板间，这样所有户型都将得到完美的展示。在降低成本，增加体验度的同时</span></p><p><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">沉浸式体验，交互式购房。VR虚拟全景技术与房地产结合，最根本的是给购房者带来从室内到室外的身临其境的体验。在看房、购房过程中，不再是对着没有的场景、物件凭空想象，而是可以参与进去并真实感受到的沉浸式、交互式体验过程，大大提升了购房者</span></p><p><br/></p>                                </section>
                                <div class="tag">
                                    <span></span>
                                    <a href="" title=""></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- 内容选项卡 -->


                <!-- 产品侧栏 -->
                <div class="col-lg-3     ">
                    <div class="row">
                        <aside class="panel panel-body m-b-0 product-hot met-sidebar     leftsidebar" boxmh-h>
                            <div class='sidebar-piclist'>
                                <h3 class='m-0 font-size-16 font-weight-300'>为您推荐</h3>
                                <ul class='blocks-2 blocks-md-3 blocks-lg-100 m-t-20 text-xs-center imagesize sidebar-piclist-ul' data-scale='300x400'>
                                    <li class='masonry-child'>
                                        <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=31' title='奔驰汽车' class='block m-b-0' target='_blank'>
                                            <img src="https://images.mituo.cn/mui111/upload/mui111/thumb_src/400_300/1526009717.jpg" class='cover-image' alt='奔驰汽车' height='100'></a>
                                        <h4 class='m-t-10 m-b-0 font-size-14 text-md-center'>
                                            <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=31' title='奔驰汽车' target='_blank'>奔驰汽车</a>
                                        </h4>
                                    </li>
                                    <li class='masonry-child'>
                                        <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=29' title='斯柯达' class='block m-b-0' target='_blank'>
                                            <img src="https://images.mituo.cn/mui111/upload/mui111/thumb_src/400_300/1526010057.jpg" class='cover-image' alt='斯柯达' height='100'></a>
                                        <h4 class='m-t-10 m-b-0 font-size-14 text-md-center'>
                                            <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=29' title='斯柯达' target='_blank'>斯柯达</a>
                                        </h4>
                                    </li>
                                    <li class='masonry-child'>
                                        <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=18' title='VR汽车' class='block m-b-0' target='_blank'>
                                            <img src="https://images.mituo.cn/mui111/upload/mui111/thumb_src/400_300/1526008629.jpg" class='cover-image' alt='VR汽车' height='100'></a>
                                        <h4 class='m-t-10 m-b-0 font-size-14 text-md-center'>
                                            <a href='https://mb.mituo.cn/mui111/product1/showproduct.php?id=18' title='VR汽车' target='_blank'>VR汽车</a>
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- 产品侧栏 -->

            </div>
        </div>
    </div>
</main>
<!-- 标准模式 -->
{include file="index/public/footer" /}