{include file="index/public/header" /}
<div class="met-box">

    <div class="met-wrapper">

        <div class="met-video">
            <div class="hide"><p><video class="metvideobox" data-metvideo="420|280|||http://huamei.juhuiny.com/xinyikangxc.webm" style="width:420px; height:280px; background:#000 url() no-repeat 50% 50%; background-size:contain;" /></video></p></div>

            <video src="" type="video/mp4"  loop id="media"     muted ></video>

            <!--<div class="video-bg" style="background-image:url(https://i6554601.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;"></div>-->

        </div>



        <!--视频广告展示-->

        <section class="banner_met_11_6"

                 m-id='73' m-type="banner" data-hash="首页" data-title="首页">

            <div class="banner">

                <div class="banner-warpper">

                    <div class="banner-item"

                         style="background-image:url(/static/index/images/imghome.png);background-size:cover;"

                         data-height="0|0|0"

                         data-autoplayspeed="4000"

                         data-src="/static/index/images/imghome.png"

                         data-speed="1000">

                        <div class="banner-text p-4" >

                            <div class='container' m-id='73' m-type="banner">

                                <div class='banner-text-con'>

                                    <div>

                                        <h3 class="title ani font-weight-500"

                                            swiper-animate-effect="fadeInUp"

                                            swiper-animate-duration="1s"

                                            swiper-animate-delay="0s"

                                            style="color:">

                                            心怡康医院  </h3>

                                        <p class="subtitle ani"

                                           swiper-animate-effect="fadeInUp"

                                           swiper-animate-duration="1s"

                                           swiper-animate-delay="0.5s"

                                           style='color:'>

                                            为入住老人提供专业、系统、全面、方便的医养服务，配备了中心供氧、中心负压吸引等设备，建立了中西医药房，设置了康复理疗，各种疼痛治疗科室，专业解决疼痛问题，给每位老人安装了生命健康巡更系统，全程对老人健康体征进行全程监护，动态掌握健康状况。                            </p>

                                        <span class="line ani"

                                              swiper-animate-effect="fadeInUp"

                                              swiper-animate-duration="1s"

                                              swiper-animate-delay="0.7s">

                                </span>

                                        <p class="banner-icon ani"

                                           swiper-animate-effect="fadeIn"

                                           swiper-animate-duration="1s"

                                           swiper-animate-delay="0.9s">

                                        </p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="banner-ctrl">

                <span class="left"><i class="icon pe-angle-left"></i></span>

                <span class="right"><i class="icon pe-angle-right"></i></span>

            </div>

            <div class="banner-bg"></div>

            <div class="banner-next" m-id='73' m-type="banner">

        <span class="next-text">

            滑动查看下一页        </span>

                <span class="next-icon">

            <i class="icon pe-angle-down"></i>

        </span>

            </div>

        </section>

        <!--END-视频广告展示-->



        <!--banner-->

        <section class="product_list_met_11_6  text-xs-center swiper-slide-active " m-id="28" data-hash="了解心怡康·" data-title="了解心怡康">

            <div class="product-bg">


                <div class="bg-list swiper-lazy"  data-background="http://ukie.xinyikangyl.com/2019/04/6626f20190423315.jpg"  data-id="1"></div>


                <div class="bg-list swiper-lazy"  data-background="http://ukie.xinyikangyl.com/2019/04/2e9f9201904231452.jpg"  data-id="2"></div>


                <div class="bg-list swiper-lazy"  data-background="http://ukie.xinyikangyl.com/2019/04/732c7201904236160.jpg"  data-id="3"></div>


                <div class="bg-list swiper-lazy"  data-background="http://ukie.xinyikangyl.com/2019/04/2c3c2201904231207.jpg"  data-id="4"></div>


            </div>

            <div class="product-content" m-id="28">

                <div class="container">

                    <div class="head">

                        <h3 class="title">养护院</h3>

                        <span class="line">让老人度过温馨晚年</span>

                    </div>

                    <div class="product-swiper">

                        <div class="product-nav" data-num>

                            <ul class="product-ul clearfix ulstyle">

                                <!--banner-->


                                <li data-href="javascript:;" data-id="1" title="酒泉华美医疗美容医院，为顾客实现积极人生梦想而提供超越美丽的" class="product-li">

                                    <span class="title">心怡康养护院</span>

                                    <p class="desc">肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。</p>

                                    <a href="/index/index/banner.html?id=2" title="肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。" target='_self'  class="more">

                                        <span data-title="了解更多">了解详情</span>

                                    </a>

                                </li>


                                <li data-href="javascript:;" data-id="2" title="酒泉华美医疗美容医院，为顾客实现积极人生梦想而提供超越美丽的" class="product-li">

                                    <span class="title">心怡康养护院</span>

                                    <p class="desc">肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。</p>

                                    <a href="/index/index/banner.html?id=1" title="肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。" target='_self'  class="more">

                                        <span data-title="了解更多">了解详情</span>

                                    </a>

                                </li>


                                <li data-href="javascript:;" data-id="3" title="酒泉华美医疗美容医院，为顾客实现积极人生梦想而提供超越美丽的" class="product-li">

                                    <span class="title">心怡康养护院</span>

                                    <p class="desc">肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。</p>

                                    <a href="/index/index/banner.html?id=3" title="肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。" target='_self'  class="more">

                                        <span data-title="了解更多">了解详情</span>

                                    </a>

                                </li>


                                <li data-href="javascript:;" data-id="4" title="酒泉华美医疗美容医院，为顾客实现积极人生梦想而提供超越美丽的" class="product-li">

                                    <span class="title">心怡康养护院</span>

                                    <p class="desc">肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。</p>

                                    <a href="/index/index/banner.html?id=4" title="肃州区老年养护院是长者幸福的大家庭，是子女尽孝的大舞台，我们的责任就是替天下百忙之中的儿女尽孝，让老人的晚年生活更加有品质和尊严！诚信做养老，关爱做服务。" target='_self'  class="more">

                                        <span data-title="了解更多">了解详情</span>

                                    </a>

                                </li>


                                <!--END-banner-->

                            </ul>

                            <div class="product-ctrl">

                                <div class="ctrl-left"></div>

                                <div class="ctrl-right"></div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="product-absolute">

                <div class="product-full visible-lg-block">

                    <ol class="list-paddingleft-2"><li><p><br></p></li><li><p><br></p></li><li><p><br></p></li><li><p><br></p></li></ol>

                </div>

                <div class="product-border visible-lg-block"></div>

            </div>

        </section>

        <!--END-banner-->

        <!--关于我们-->

        <section class="about_list_met_11_6 clearfix swiper-slide-active" m-id="24" m-type='nocontent' data-hash="关于我们" data-title="关于我们">

            <div class="about-img col-xs-12 col-md-12 col-lg-6 swiper-lazy" data-background="/static/index/images/about.jpg"></div>

            <div class="about-content col-xs-12 col-md-12 col-lg-6">

                <div class="container" m-id="24" m-type='nocontent'>

                    <h3 class="title">

                        心怡康养护院简介<span class="line"></span>

                    </h3>

                    <div class="desc">

                        肃州区老年养护院心怡康医院坐落在风景怡人、交通便利的北郊公园南侧，让老人足不出户便可享受“天然氧吧”的清新氛围。占地38亩，首期建筑面积7200平方米，开设床位137张，总投资上亿元，主要开展医疗保健、康复护理、临终关怀、居家养老、失能失智老人照护等服务项目。

                        建院初心：“我们为爱而生，我们传承爱心和善行，我们用爱养您老”为精神，以“大爱无疆，孝行天下”为使命的最高追求，始终秉承弘扬爱老、敬老的中华孝道文化。为使命的最高追求，始终秉承弘扬爱老、敬老的中华孝道文化。为使命的最高追求，始终秉承弘扬爱老、敬老的中华孝道文化。为使命的最高追求，始终秉承弘扬爱老、敬老的中华孝道文化。为使命的最高追求，始终秉承弘扬爱老、敬老的中华孝道文化。

                    </div>

                    <a href="/index/index/about1" class="more">

                <span data-title="了解我们" >

                    了解我们                </span>

                    </a>

                </div>

            </div>

            <div id="particles" data-size="6" data-num="100" data-color="#efefef" data-line-color="#dddddd" data-style="1"></div>

        </section>

        <!--END关于我们-->



        <!--专家-->

        <section class="about_list_met_11_6 clearfix swiper-slide-active" m-id="24" m-type='nocontent' data-hash="医师团队" data-title="医师团队">

            <div class="product_list_met_21_1 met-index-body met-index-team     bgpic" m-id='46'>

                <div class="container">

                    <h2 class="m-t-0 text-xs-center font-weight-300" data-plugin="appear" data-animate="slide-top" data-repeat="false"><p style='font-size:26px;'>医师团队</p></h2>

                    <div class="swiper-container ">

                        <ul class="team-list swiper-wrapper">



                            {if !empty($doctor_list)}

                            {volist name="doctor_list" id="vo" key="k" }

                            <li class="swiper-slide" style="background: white;">

                                <div class="item-inner">

                                    <div class="team-pic">

                                        <a class="team-btn" href="javascript:;" style="background-image: url('{$vo.icon}');"></a>

                                    </div>

                                    <div class="team-content">

                                        <div class="team-title">

                                            <h3>{$vo.name}</h3>

                                            <p></p>

                                        </div>

                                        <p></p>

                                        <p>{$vo.intro}</p>

                                        <p></p>

                                        <a href="{:url('index/doctor', ['id' => $vo.id, 'do' => 'detail'])}" class="team-more" target="_blink">

                                            查看资料 <i class="icon pe-angle-right-circle"></i>

                                        </a>

                                    </div>

                                </div>

                            </li>
                            {/volist}

                            {/if}



                        </ul>

                    </div>

                </div>

            </div>

        </section>

        <!--End-专家环境-->



        <style>

            .img-fluid{

                height: 100px!important;

            }

            .layui-tab-title .layui-this {

                color: #ff6600;

            }

            .layui-tab-title{

                margin: 0 auto;

                left: 5%;

                margin-bottom: 22%;

                width: 50%;

            }

            .layui-tab-title .layui-this:after{

                border: none;

            }



            .layui-tab-title li{

                font-size: 19px;

                margin-left: 29px

            }

            .layui-tab-title li:hover {

                color: #ff6600;

            }

            .news_list_met_11_6 .container{

                position: relative;

            }



        </style>



        <!--新闻资讯-->

        <section class="news_list_met_11_6  text-xs-center swiper-slide-active" m-id="30" data-hash="新闻资讯" data-title="新闻资讯">

            <div class="container" m-id="30">

                <div class="head">

                    <h3 class="title">新闻资讯</h3>

                    <span class="line">NEWS AND INFORMATION</span>

                </div>

                <div class="news-content">

                    <div class="news-swiper">

                        <ul class="news-ul ulstyle">




                            <li class="news-li">

                                <a href="/index/index/news/id/1.html" class="body" title="向雷锋同志学习”纪念日！" target=_self>

                                    <div class="text">

                                        <div class="content">

                                            <p class="date">2019/01/22</p>

                                            <h3 class="title">向雷锋同志学习”纪念日！</h3>

                                            <p class="description">今天是3月5日，56年的今天毛泽东主席在《人民日报》上发表“向雷锋同志学习”的题词，自此全国范围内掀起“学习雷锋”活动的高潮。今天一大早，酒泉市广宇出租车公司“雷锋车队”30名志愿人士来到肃州区老年养护院心怡康医院，打扫房间擦拭玻璃，用自己实际行动向雷锋同志学习，为入住老人送去真诚的爱心。</p>

                                        </div>

                                    </div>

                                    <div class="img swiper-lazy"

                                         data-background="http://ukie.xinyikangyl.com/2019/04/894c8201904234427.jpg">

                                    </div>

                                </a>

                                <a href="/index/index/news/id/1.html" class="news-more" title="向雷锋同志学习”纪念日！" target=_self>

                                    <i class="icon pe-angle-right"></i></a>

                            </li>




                            <li class="news-li">

                                <a href="/index/index/news/id/2.html" class="body" title="酒泉民间眉户剧社爱心慰问演出。" target=_self>

                                    <div class="text">

                                        <div class="content">

                                            <p class="date">2019/01/22</p>

                                            <h3 class="title">酒泉民间眉户剧社爱心慰问演出。</h3>

                                            <p class="description">酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。酒泉民间眉户剧社爱心慰问演出。</p>

                                        </div>

                                    </div>

                                    <div class="img swiper-lazy"

                                         data-background="http://ukie.xinyikangyl.com/2019/04/e8d00201904233302.jpg">

                                    </div>

                                </a>

                                <a href="/index/index/news/id/2.html" class="news-more" title="酒泉民间眉户剧社爱心慰问演出。" target=_self>

                                    <i class="icon pe-angle-right"></i></a>

                            </li>




                            <li class="news-li">

                                <a href="/index/index/news/id/3.html" class="body" title="走进社区 义诊为老" target=_self>

                                    <div class="text">

                                        <div class="content">

                                            <p class="date">2019/01/22</p>

                                            <h3 class="title">走进社区 义诊为老</h3>

                                            <p class="description">在这个乍暖还寒的初春时节，肃州区老年养护院心怡康医院的骨病专家周衍亮院长和中医内科专家和生印主任一行5人，来到肃州路社区日间照料中心，为辖区内的老年人义务诊治腰腿痛、颈椎痛和老年慢性病。在这个乍暖还寒的初春时节，肃州区老年养护院心怡康医院的骨病专家周衍亮院长和中医内科专家和生印主任一行5人，来到肃州路社区日间照料中心，为辖区内的老年人义务诊治腰腿痛、颈椎痛和老年慢性病。</p>

                                        </div>

                                    </div>

                                    <div class="img swiper-lazy"

                                         data-background="http://ukie.xinyikangyl.com/2019/04/68277201904232776.jpg">

                                    </div>

                                </a>

                                <a href="/index/index/news/id/3.html" class="news-more" title="走进社区 义诊为老" target=_self>

                                    <i class="icon pe-angle-right"></i></a>

                            </li>




                            <li class="news-li">

                                <a href="/index/index/news/id/4.html" class="body" title="实验中学学生 寒假敬老爱老" target=_self>

                                    <div class="text">

                                        <div class="content">

                                            <p class="date">2019/03/07</p>

                                            <h3 class="title">实验中学学生 寒假敬老爱老</h3>

                                            <p class="description">今天是元宵节过后的第三天，肃州区老年养护院心怡康医院接待了来自酒泉实验中学高一年级的尚慧婷、陈大川、王正杰、史春阳4位同学，他们用自己的压岁钱，购买水果给入住的老年人送去青年学子的一份爱心。

                                                在爱老敬老假期实践活动中，四位同学将购买的水果清洗干净，剥掉果皮，在盘中摆放整齐，端到老人房间，请老人品尝。老人们纷纷竖起大拇指，对他们的善行给予称赞。</p>

                                        </div>

                                    </div>

                                    <div class="img swiper-lazy"

                                         data-background="http://ukie.xinyikangyl.com/2019/04/827e6201904238436.jpg">

                                    </div>

                                </a>

                                <a href="/index/index/news/id/4.html" class="news-more" title="实验中学学生 寒假敬老爱老" target=_self>

                                    <i class="icon pe-angle-right"></i></a>

                            </li>




                            <li class="news-li">

                                <a href="/index/index/news/id/6.html" class="body" title="不忘初心跟党走，砥砺奋进谱新篇。" target=_self>

                                    <div class="text">

                                        <div class="content">

                                            <p class="date">2019/03/08</p>

                                            <h3 class="title">不忘初心跟党走，砥砺奋进谱新篇。</h3>

                                            <p class="description">在2019年新春到来之际，肃州区民政系统“不忘初心跟党走，砥砺奋进谱新篇”2019年迎新春联欢晚会在肃州区老年养护院心怡康医院多功能厅隆重举行。肃州区民政局党组书记、局长张建辉同志携局党委领导班子及全体干部职工与肃州区老年养护院老人、员工欢聚一堂，共庆新春佳节。在2019年新春到来之际，肃州区民政系统“不忘初心跟党走，砥砺奋进谱新篇”2019年迎新春联欢晚会在肃州区老年养护院心怡康医院多功能厅隆重举行。肃州区民政局党组书记、局长张建辉同志携局党委领导班子及全体干部职工与肃州区老年养护院老人、员工欢聚一堂，</p>

                                        </div>

                                    </div>

                                    <div class="img swiper-lazy"

                                         data-background="http://ukie.xinyikangyl.com/2019/04/6613b201904235005.jpg">

                                    </div>

                                </a>

                                <a href="/index/index/news/id/6.html" class="news-more" title="不忘初心跟党走，砥砺奋进谱新篇。" target=_self>

                                    <i class="icon pe-angle-right"></i></a>

                            </li>






                        </ul>

                        <div class="news-ctrl">

                            <div class="left">

                                <i class="icon pe-angle-left"></i>

                            </div>

                            <div class="right">

                                <i class="icon pe-angle-right"></i>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!--END新闻资讯-->



        <!--   一问一答-->

        <section class="news_list_met_11_6  text-xs-center swiper-slide-active" m-id="31" data-hash="问答" data-title="问答">

            <div class="layui-tab">

                <ul class="layui-tab-title asks-cate">


                    <li data-id="2" data-url="/index/index/asks.html">养生问答</li><!--class="layui-this"-->


                    <li data-id="3" data-url="/index/index/asks.html">健康问答</li><!--class="layui-this"-->


                    <li data-id="4" data-url="/index/index/asks.html">医疗问答</li><!--class="layui-this"-->


                </ul>

                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">

                        <main class="news_list_page_met_11_4 met-news">

                            <div class="container met-news-body">

                                <div class="row">

                                    <div class="met-news-list">

                                        <ul class="ulstyle met-pager-ajax imagesize" data-scale="300x400" m-id="41">




                                            <!-- 图文模式 -->

                                            <li class="media media-lg border-bottom1">

                                                <!--<div class="left col-lg-3  animation-delay-100" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">-->

                                                <!--<a href="/index/index/asks/id/1.html" title="你们那里怎么收费？" target="_self">-->

                                                <!--<img class="img-fluid" src="/uploads/20190308/xy_5c82188ebe209916213194.jpg" alt="你们那里怎么收费？" >-->

                                                <!--</a>-->

                                                <!--</div>-->

                                                <div class="right col-lg-7" style="float: unset;    margin: auto;">

                                                    <h4 class="animation-delay-200 appear-no-repeat animation-slide-bottom" data-repeat="false">

                                                        <a href="/index/index/asks/id/1.html" title="你们那里怎么收费？" target="_self">你们那里怎么收费？</a>

                                                    </h4>

                                                    <div class="clearfix">

                                                        <p class="des  animation-delay-300" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                            答：我们这里根据入住长者的身体情况不同，收费价格也不同，一般在2000
                                                        </p>

                                                        <a href="/index/index/asks/id/1.html" class="more  animation-delay-400 appear-no-repeat animation-slide-bottom" data-repeat="false">

                    <span data-title="查看详情">

                        查看详情                    </span>

                                                        </a>

                                                    </div>

                                                    <p class="info font-weight-300 animation-delay-500 " data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                        <span>02-24</span>

                                                        <span>/</span>

                                                        <span>2019</span>

                                                    </p>

                                                </div>

                                            </li>


                                            <!-- 图文模式 -->

                                            <li class="media media-lg border-bottom1">

                                                <!--<div class="left col-lg-3  animation-delay-100" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">-->

                                                <!--<a href="/index/index/asks/id/2.html" title="收不收卧床（鼻饲、痴呆、脑梗、偏瘫等）老人？" target="_self">-->

                                                <!--<img class="img-fluid" src="/uploads/20190308/xy_5c8218f63332e613472597.jpg" alt="收不收卧床（鼻饲、痴呆、脑梗、偏瘫等）老人？" >-->

                                                <!--</a>-->

                                                <!--</div>-->

                                                <div class="right col-lg-7" style="float: unset;    margin: auto;">

                                                    <h4 class="animation-delay-200 appear-no-repeat animation-slide-bottom" data-repeat="false">

                                                        <a href="/index/index/asks/id/2.html" title="收不收卧床（鼻饲、痴呆、脑梗、偏瘫等）老人？" target="_self">收不收卧床（鼻饲、痴呆、脑梗、偏瘫等）老人？</a>

                                                    </h4>

                                                    <div class="clearfix">

                                                        <p class="des  animation-delay-300" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                            除传染病和精神方面疾病的长者不收外，其他老人都收。针对不同类型有不同的护理方法和流程，举例说明：
                                                        </p>

                                                        <a href="/index/index/asks/id/2.html" class="more  animation-delay-400 appear-no-repeat animation-slide-bottom" data-repeat="false">

                    <span data-title="查看详情">

                        查看详情                    </span>

                                                        </a>

                                                    </div>

                                                    <p class="info font-weight-300 animation-delay-500 " data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                        <span>02-24</span>

                                                        <span>/</span>

                                                        <span>2019</span>

                                                    </p>

                                                </div>

                                            </li>


                                            <!-- 图文模式 -->

                                            <li class="media media-lg border-bottom1">

                                                <!--<div class="left col-lg-3  animation-delay-100" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">-->

                                                <!--<a href="/index/index/asks/id/3.html" title="一个护理人员照顾几个老人？" target="_self">-->

                                                <!--<img class="img-fluid" src="/uploads/20190308/xy_5c8219138046f104233785.jpg" alt="一个护理人员照顾几个老人？" >-->

                                                <!--</a>-->

                                                <!--</div>-->

                                                <div class="right col-lg-7" style="float: unset;    margin: auto;">

                                                    <h4 class="animation-delay-200 appear-no-repeat animation-slide-bottom" data-repeat="false">

                                                        <a href="/index/index/asks/id/3.html" title="一个护理人员照顾几个老人？" target="_self">一个护理人员照顾几个老人？</a>

                                                    </h4>

                                                    <div class="clearfix">

                                                        <p class="des  animation-delay-300" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                            答：我们是按照5:1的原则分配入住长者和护理员，也就是说一个护理员照顾五位入
                                                        </p>

                                                        <a href="/index/index/asks/id/3.html" class="more  animation-delay-400 appear-no-repeat animation-slide-bottom" data-repeat="false">

                    <span data-title="查看详情">

                        查看详情                    </span>

                                                        </a>

                                                    </div>

                                                    <p class="info font-weight-300 animation-delay-500 " data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                        <span>02-24</span>

                                                        <span>/</span>

                                                        <span>2019</span>

                                                    </p>

                                                </div>

                                            </li>


                                            <!-- 图文模式 -->

                                            <li class="media media-lg border-bottom1">

                                                <!--<div class="left col-lg-3  animation-delay-100" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">-->

                                                <!--<a href="/index/index/asks/id/4.html" title="吃的怎么样？老人痛风（或别的饮食禁忌）有些东西可能不能食用？" target="_self">-->

                                                <!--<img class="img-fluid" src="/uploads/20190308/xy_5c82192d86e73904702572.jpg" alt="吃的怎么样？老人痛风（或别的饮食禁忌）有些东西可能不能食用？" >-->

                                                <!--</a>-->

                                                <!--</div>-->

                                                <div class="right col-lg-7" style="float: unset;    margin: auto;">

                                                    <h4 class="animation-delay-200 appear-no-repeat animation-slide-bottom" data-repeat="false">

                                                        <a href="/index/index/asks/id/4.html" title="吃的怎么样？老人痛风（或别的饮食禁忌）有些东西可能不能食用？" target="_self">吃的怎么样？老人痛风（或别的饮食禁忌）有些东西可能不能食用？</a>

                                                    </h4>

                                                    <div class="clearfix">

                                                        <p class="des  animation-delay-300" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                            答：我们养护院拟定应季食谱，每月更新一次，早餐：杂粮粥、馒头（包子、油条、
                                                        </p>

                                                        <a href="/index/index/asks/id/4.html" class="more  animation-delay-400 appear-no-repeat animation-slide-bottom" data-repeat="false">

                    <span data-title="查看详情">

                        查看详情                    </span>

                                                        </a>

                                                    </div>

                                                    <p class="info font-weight-300 animation-delay-500 " data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                        <span>03-08</span>

                                                        <span>/</span>

                                                        <span>2019</span>

                                                    </p>

                                                </div>

                                            </li>


                                            <!-- 图文模式 -->

                                            <li class="media media-lg border-bottom1">

                                                <!--<div class="left col-lg-3  animation-delay-100" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">-->

                                                <!--<a href="/index/index/asks/id/5.html" title="老人跟别人不一样（喜静/爱热闹/抽烟/独自外出/搜罗无用的东西等），怎么处理？" target="_self">-->

                                                <!--<img class="img-fluid" src="/uploads/20190308/xy_5c821945d14b3216433979.jpg" alt="老人跟别人不一样（喜静/爱热闹/抽烟/独自外出/搜罗无用的东西等），怎么处理？" >-->

                                                <!--</a>-->

                                                <!--</div>-->

                                                <div class="right col-lg-7" style="float: unset;    margin: auto;">

                                                    <h4 class="animation-delay-200 appear-no-repeat animation-slide-bottom" data-repeat="false">

                                                        <a href="/index/index/asks/id/5.html" title="老人跟别人不一样（喜静/爱热闹/抽烟/独自外出/搜罗无用的东西等），怎么处理？" target="_self">老人跟别人不一样（喜静/爱热闹/抽烟/独自外出/搜罗无用的东西等），怎么处理？</a>

                                                    </h4>

                                                    <div class="clearfix">

                                                        <p class="des  animation-delay-300" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                            答：采用相同护理级别同住一间居室的原则，尽量配合入住长者
                                                        </p>

                                                        <a href="/index/index/asks/id/5.html" class="more  animation-delay-400 appear-no-repeat animation-slide-bottom" data-repeat="false">

                    <span data-title="查看详情">

                        查看详情                    </span>

                                                        </a>

                                                    </div>

                                                    <p class="info font-weight-300 animation-delay-500 " data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

                                                        <span>03-08</span>

                                                        <span>/</span>

                                                        <span>2019</span>

                                                    </p>

                                                </div>

                                            </li>


                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </main>

                    </div>

                </div>

            </div>

        </section>

        <!--  END 一问一答-->

        <script>

            //注意：选项卡 依赖 element 模块，否则无法进行功能性操作

            layui.use('element', function(){

                var element = layui.element;

            });

        </script>

        <!--服务项目-->

        <section class="case_list_met_11_1  text-xs-center      swiper-slide-active     color"

                 m-id="32"

                 data-hash="服务项目"

                 data-title="服务项目">

            <div class="container" m-id="32">

                <div class="head">

                    <h3 class="title">服务项目</h3>

                    <span class="line">酒泉心怡康医院</span>

                </div>

                <div class="case-swiper">

                    <ul class="case-ul">


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=1&do=activity_detail" class="body" title="生活服务" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f0f62577266200728.jpg" alt="生活服务">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">生活服务</h3>

                                        <p class="animation-slide-bottom">贴心生活服务，让您悦享家的温暖舒适。</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=2&do=activity_detail" class="body" title="餐饮服务" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f19da94e669291427.jpg" alt="餐饮服务">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">餐饮服务</h3>

                                        <p class="animation-slide-bottom">特色餐饮服务，满足您对营养和美味的双重需求。</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=3&do=activity_detail" class="body" title="社交文娱" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f2b4e1b4946623184.jpg" alt="社交文娱">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">社交文娱</h3>

                                        <p class="animation-slide-bottom">丰富社交文娱活动，为您营造愉悦的活力养老生活。</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=4&do=activity_detail" class="body" title="健康服务" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f3f72785177351372.jpg" alt="健康服务">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">健康服务</h3>

                                        <p class="animation-slide-bottom">全面医疗健康服务，为您的健康保驾护航。</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=5&do=activity_detail" class="body" title="照护服务" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f513e5fb311463851.jpg" alt="照护服务">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">照护服务</h3>

                                        <p class="animation-slide-bottom">全方位照护服务，让您享受专业化养护服务。</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                        <li class="case-li">

                            <a href="/index/index/activity.html?activity_id=6&do=activity_detail" class="body" title="收费标准" target=_self>

                                <figure class="overlay overlay-hover animation-hover" >

                                    <img class="overlay-figure overlay-scale swiper-lazy" src="/uploads/20190226/xy_5c750f6c09e09259219646.jpg" alt="收费标准">

                                    <figcaption class="overlay-panel overlay-background overlay-fade">

                                        <h3 class="animation-slide-bottom">收费标准</h3>

                                        <p class="animation-slide-bottom">老人入住收费标准公示</p>

                                    </figcaption>

                                </figure>

                            </a>

                        </li>


                    </ul>

                    <div class="case-ctrl">

                        <div class="left">

                            <i class="icon pe-angle-left"></i>

                        </div>

                        <div class="right">

                            <i class="icon pe-angle-right"></i>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!--END服务项目-->





        <!--环境-->

        <section class="case_list_met_11_1  text-xs-center      swiper-slide-active     color" m-id="32"  data-hash="医院环境" data-title="医院环境">

            <link rel="stylesheet" href="/static/index/css/style.css">

            <script src="/static/admin/js/jquery-3.3.1.min.js"></script>

            <script src="/static/index/js/enviroment.js"></script>

            <div class="wrapper index">

                <div class="part part6 part_photo_enviroment">

                    <div class="bg12">

                        <div class="enviro_nav">

                            <div class="con con1">

                                <h1 style="    padding: 25px 0;

    font-size: 14px;

    color: #fff;

    text-align: center;">酒泉心怡康医院环境一览</h1>

                                <h2 style="

    font-size: 14px;

    color: #fff;

    text-align: center;">Environment overview</h2>

                            </div>

                            <div class="con con2">

                                <h3>请点击查看</h3>

                                <!--标识柱-->

                                <div class="nav_bar">

                                    <ul class="nav_bar_list">

                                        <li class="l1"></li>

                                        <li class="l2 num0"></li>

                                        <li class="l3"></li>

                                        <li class="l4"></li>

                                    </ul>

                                    <ul class="nav_list">

                                        <li alt="40">心怡康</li>

                                        <li alt="75">健身房</li>

                                        <li class="hos_corner" alt="145">

                                            卧室

                                            <dl class="cornor_list">

                                                <!--缩略图-->

                                                <dd class="on"><img src="/static/index/images/hj/woshi1.jpg" width="55px" height="55px" alt=""></dd>

                                                <dd><img src="/static/index/images/hj/woshi2.jpg" alt="" width="55px" height="55px"></dd>

                                            </dl>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>



                    <!--—心怡康-->

                    <div class="con_en_img">

                        <ul class="en_img_list yestar">

                            <li class="l1" style="background-image: url('/static/index/images/hj/huanjing3.jpg')">

                            </li>

                        </ul>



                        <!--医院外景-->

                        <ul class="en_img_list hall">

                            <li style="background-image: url('/static/index/images/hj/huanjing1.jpg')"></li>

                        </ul>

                        <!--&lt;!&ndash;二张院内大厅&ndash;&gt;-->

                        <!--<ul class="en_img_list hall">-->

                        <!--<li style="background-image: url('/static/index/images/hj/')"></li>-->

                        <!--</ul>-->



                        <!--卧室-->

                        <ul class="en_img_list cornor">

                            <li style="background-image: url('/static/index/images/hj/woshi1.jpg')"></li>

                            <li style="background-image: url('/static/index/images/hj/woshi2.jpg')"></li>

                        </ul>

                    </div>

                </div>

            </div>

        </section>

        <!--End-环境-->







        <section class="contact_list_met_11_1 clearfix swiper-slide-active" m-id="29" m-type='nocontent'  data-hash="联系我们" data-title="联系我们">


            <div id="map" coordinate="98.523898,39.765203" img="/static/index/images/zuo.png"  logo="/uploads/20190318/xy_5c8f360f5189a563680036.jpg"  title="养老服务中心"  description="养老服务中心" m-id="29" m-type='nocontent'>

            </div>

            <div class="contact-cont"></div>

            <div class="contact-text"  m-id="29" m-type='nocontent' >

                <div class="head">

                    <h3 class="title">联系我们<span class="line"></span></h3>

                    <p class="subtitle">Contact Us</p>

                </div>

                <ul class="details ulstyle">

                    <li >地址:酒泉市肃州区酒银路27号（北郊公园向南200米）</li>

                    <li class="mark">JIU QUAN XIN YI KANG</li>

                    <li >官方热线：0937-5813011</li>

                    <li >email:3488592081@qq.com</li>

                </ul>

            </div>


        </section>

        <!--END-footer-->



        <footer class='foot_info_met_11_4 met-page' m-id='68' m-type="foot">
            <div class="container">
                <div class="left ">

                    <div class="links text-xs-center" m-id='68' m-type="link">
                        <ul class="breadcrumb p-0 link-img m-0">
                            <li class='breadcrumb-item'>东和盛泰集团</li>
                            <li class='breadcrumb-item'>
                                <a href="http://jqzxyy.com" title="酒泉华美医疗美容医院" target="_blank">
                                    <span>酒泉华美医疗美容医院</span>
                                </a>
                            </li>
                            <li class='breadcrumb-item'>
                                <a href="http://juhuiny.com" title="炬晖农业" target="_blank">
                                    <span>炬晖农业</span>
                                </a>
                            </li>
                            <li class='breadcrumb-item'>
                                <a href="http://xinyikang.juhuiny.com" title="心怡康养老院" target="_blank">
                                    <span>心怡康养老院</span>
                                </a>
                            </li>
                            <li class='breadcrumb-item'>
                                <a href="javascript:alert('拨打电话：0937-5813011');" title="联系我们" target="_blank">
                                    <span>联系我们</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="powered_by_metinfo">
                        <b><a href="javascript:;" target=_blank></a></b> 2010-2019 &nbsp;  </div>
                </div>
                <div class="right">
                    <div class="text">
                        <p class="m-b-0">©copyright 2010-2019 心怡康医院 陇ICP备16001738号  </p>
                        <p class="m-b-0">站长统计</p>
                    </div>
                    <div class="social">

                        <!--QQ-->
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=805578494&site=qq&menu=yes" target="_blank">
                            <i class="fa fa-qq"></i>
                        </a>
                        <!--QQ-->

                        <!--微博-->
                        <a href="javascript:;" rel="nofollow" target="_blank">
                            <i class="fa fa-weibo "></i>
                        </a>
                        <!--微博-->
                        <!--微信-->
                        <a id="met-weixin" data-plugin="webuiPopover" data-trigger="hover" data-animation="pop" data-placement='top' data-width='155' data-padding='0' data-content="<div class='text-xs-center'>
                    <img src='/uploads/20190318/xy_5c8f360f5189a563680036.jpg' alt='官网平台' width='150' height='150' id='met-weixin-img'></div>">
                            <i class="fa fa-weixin"></i>
                        </a>
                        <!--微信-->
                        <!--简繁体切换-->
                        <!--简繁体切换-->
                    </div>

                </div>
            </div>
        </footer>
        <div class="foot_info_met_11_4_bottom text-xs-center     " m-id='68' data-bg="|#ff6600|1" data-ifbotc="">
            <div class="main">
                <div class="">
                    <a href="tel:4000000000" class="item" target="_blank">
                        <i class="fa fa-phone"></i>
                        <span>电话咨询</span>
                    </a>
                </div>
                <div class="">
                    <a href="mailto:email@email.mt" class="item" target="_blank">
                        <i class="fa fa-envelope"></i>
                        <span>邮件咨询</span>
                    </a>
                </div>
                <div class="">
                    <a href="https://uri.amap.com/marker?position=112.941052,28.128617&name=长沙洋湖总经济区" class="item" target="_blank">
                        <i class="fa fa-map-marker"></i>
                        <span>在线地图</span>
                    </a>
                </div>
                <div class="">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=00000000&site=qq&menu=yes" class="item" target="_blank">
                        <i class="fa fa-qq"></i>
                        <span>QQ客服</span>
                    </a>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-icon btn-primary btn-squared back_top_met_16_1 met-scroll-top" hidden m-id='65' m-type='nocontent'>
            <i class="icon wb-chevron-up" aria-hidden="true"></i>
        </button>

        <input type="hidden" name="met_lazyloadbg" value="">
        <script src="/static/index/js/basic.js"></script>
        <script src="/static/index/js/index_cn.js"></script>
        <script src="/static/index/js/lang_json_cn.js"></script>
        <script src="/static/index/js/slider.js"></script>
        <script src="/static/index/js/self.js"></script>
        <script type="text/javascript" src="/static/admin/layui/layui.js"></script>

    </div>
</div>
</body>
</html>

