{include file="../application/index/view/wap/ukie/include/header.html" /}
<div class="intro">心怡康医院收费标准</div>
<div class="">
    <div class="about_text1">
        <table class="tablesaw table-striped table-bordered table-hover tablesaw-sortable tablesaw-swipe" border="1px">
            <tbody>
            <tr class="firstRow one">
                <td width="90" valign="top">
                    <p>
                        类别
                    </p>
                </td>
                <td width="80" valign="top">
                    <p>
                        项目
                    </p>
                </td>
                <td width="80" valign="top">
                    <p>
                        自理
                    </p>
                </td>
                <td width="80" valign="top">
                    <p>
                        介助
                    </p>
                </td>
                <td width="80" colspan="3" valign="top">
                    <p>
                        介护
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="90" rowspan="5">
                    <p>
                        <span class="first_td">家庭间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        3000
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        3000
                    </p>
                </td>
                <td width="76" colspan="3">
                    <p>
                        3000
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" colspan="3">
                    <p>
                        500
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" valign="top">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        3700
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        4800
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        5800
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        6000
                    </p>
                </td>
                <td width="76">
                    <p>
                        6300
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="5">
                    <p>
                        <span class="first_td">单人间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76">
                    <p>
                        2400
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" valign="top">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        3100
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        4200
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        5200
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        5400
                    </p>
                </td>
                <td width="76">
                    <p>
                        5700
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="5">
                    <p>
                        <span class="first_td">双人间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1500
                    </p>
                </td>
                <td width="76">
                    <p>
                        1500
                    </p>
                </td>
                <td width="76">
                    <p>
                        1500
                    </p>
                </td>
                <td width="76">
                    <p>
                        1500
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" valign="top">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2200
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        3300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        4300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        4500
                    </p>
                </td>
                <td width="76">
                    <p>
                        4800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="5">
                    <p>
                        <span class="first_td">三人间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1100
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1100
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1100
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        1100
                    </p>
                </td>
                <td width="76">
                    <p>
                        1100
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76">
                    <p>
                        1800
                    </p>
                </td>
                <td width="76">
                    <p>
                        2900
                    </p>
                </td>
                <td width="76">
                    <p>
                        3900
                    </p>
                </td>
                <td width="76">
                    <p>
                        4100
                    </p>
                </td>
                <td width="76">
                    <p>
                        4400
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="5">
                    <p>
                        <span class="first_td">六人间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        800
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        800
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        800
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        800
                    </p>
                </td>
                <td width="76">
                    <p>
                        800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76">
                    <p>
                        1500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2600
                    </p>
                </td>
                <td width="76">
                    <p>
                        3600
                    </p>
                </td>
                <td width="76">
                    <p>
                        3800
                    </p>
                </td>
                <td width="76">
                    <p>
                        4100
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="5">
                    <p>
                        <span class="first_td">陪护间</span>
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        床位费
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2400
                    </p>
                </td>
                <td width="76">
                    <p>
                        2400
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        饮食费
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        500
                    </p>
                </td>
                <td width="76">
                    <p>
                        500
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="2">
                    <p>
                        护理费
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        200
                    </p>
                </td>
                <td width="76" rowspan="2">
                    <p>
                        1300
                    </p>
                </td>
                <td width="76">
                    <p>
                        三级
                    </p>
                </td>
                <td width="76">
                    <p>
                        二级
                    </p>
                </td>
                <td width="76">
                    <p>
                        一级
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        2300
                    </p>
                </td>
                <td width="76" valign="top">
                    <p>
                        2500
                    </p>
                </td>
                <td width="76">
                    <p>
                        2800
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76">
                    <p>
                        合计
                    </p>
                </td>
                <td width="76">
                    <p>
                        3100
                    </p>
                </td>
                <td width="76">
                    <p>
                        4200
                    </p>
                </td>
                <td width="76">
                    <p>
                        5200
                    </p>
                </td>
                <td width="76">
                    <p>
                        5400
                    </p>
                </td>
                <td width="76">
                    <p>
                        5700
                    </p>
                </td>

            </tr>
            <tr class="firstRow">
                <td width="76" rowspan="4">
                    备注
                </td>
                <td width="76" colspan="7">
                    <p>
                        <span style="       color: red; float: left;">1： &nbsp;老人入住费用根据老人身体评估而定。</span>
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76" colspan="7">
                    <p>
                        <span style="      color: red;  float: left;">2： &nbsp;老人在院不足7天不退费， 超过七天的部分，只退超出7天的护理费和饮食费。</span>
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="76" colspan="7">
                    <p>
                        <span style="     color: red;   float: left;">3： &nbsp;喂饭、 鼻伺的老人每月加收300元特需费用。</span>
                    </p>
                </td>
            </tr>
            <tr class="firstRow">
                <td width="100" colspan="7">
                    <p>
                        <span style="     color: red;   float: left;">4： &nbsp;此公示费用不包括老人入院后的医疗费用。</span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{include file="../application/index/view/wap/ukie/include/footer.html" /}
