{include file="../application/index/view/wap/ukie/include/header.html" /}
<div class="about-text" >
    <div class="about_title"><p>{$data.title}</p></div>
    <div class="about_time">发布时间：{$data.create_time}</div>
    <div class="about_text">
       {$data.content}
    </div>
</div>
<div class="Page">
    <a href="{:url('ukie/news_list', ['id' => $data.id, 'do' => 'up_paging'])}" {if !empty($up_disabled)}  onclick="layer.msg('没有更多了！'); return false;{/if}"> {if !empty($up_disabled)}没有了！{else}上一篇{/if}</a>
    <a href="{:url('ukie/news_list', ['id' => $data.id, 'do' => 'down_paging'])}" {if !empty($down_disabled)}  onclick="layer.msg('没有更多了！');return false;{/if}">{if !empty($down_disabled)}没有了！{else}下一篇{/if}</a>
</div>
<!--热门阅读-->
<div class="Related">
    <div class="Related_title">相关阅读</div>
    {if !empty($hot_news)}
    {foreach $hot_news as $vo}
    <a href="{:url('ukie/news_list', ['id' => $vo.id])}">
    <div class="News_box">
        <img src="{$vo.icon}"/>
        <ul>
            <li>{$vo.intro}</li>
            <li><span>发布时间：{$vo.create_time}</span></li>
        </ul>
    </div>
    </a>
    {/foreach}
    {/if}
</div>
{include file="../application/index/view/wap/ukie/include/footer.html" /}