{include file="../application/index/view/wap/ukie/include/header.html" /}
<div class="about">

    {if !empty($news)}
    {foreach $news as $vo}
    <div class="News_box">
        <img src="{$vo.icon}"/>
        <ul>
            <li>
                <a href="{url('index/news')}?id={$vo.id}"><?php if(is_serialized_string($vo['intro'])): echo mb_substr(unserialize($vo['intro']),0, 35, 'utf-8') ;?><?php else:?> <?php echo mb_substr($vo['intro'],0, 35, 'utf-8') ;?><?php Endif;?>
                    .....</a></li>
            <li><span>发布时间：<?php echo date('Y/m/d H:i:s', $vo['create_time'])?></span></li>
        </ul>
    </div>
    {/foreach}
    {/if}
</div>

<div class="Page">
    <!--加载状态-->
    <div class="no-more" id="show_more"><span class="layui-badge" style="padding: 8px;">加载更多...</span></div>

    <input type="hidden" id="offect" value="1" />
</div>
{include file="../application/index/view/wap/ukie/include/footer.html" /}
