<footer class='foot_info_met_11_4 met-page' m-id='68' m-type="foot">
    <div class="container">
        <div class="left ">

            <div class="links text-xs-center" m-id='68' m-type="link">
                <ul class="breadcrumb p-0 link-img m-0">
                    <li class='breadcrumb-item'>东和盛泰集团</li>
                    <li class='breadcrumb-item'>
                        <a href="http://jqzxyy.com" title="酒泉华美医疗美容医院" target="_blank">
                            <span>酒泉华美医疗美容医院</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="http://juhuiny.com" title="炬晖农业" target="_blank">
                            <span>炬晖农业</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="http://xinyikangyl.com" title="心怡康养老院" target="_blank">
                            <span>心怡康养老院</span>
                        </a>
                    </li>
                    <li class='breadcrumb-item'>
                        <a href="javascript:alert('拨打电话：0937-5813011');" title="联系我们" target="_blank">
                            <span>联系我们</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="powered_by_metinfo">
                <b><a href="javascript:;" target=_blank></a></b> 2010-2019 &nbsp;  </div>
        </div>
        <div class="right">
            <div class="text">
                <p class="m-b-0">©copyright 2010-2019 心怡康医院 陇ICP备16001738号  </p>
                <p class="m-b-0">站长统计</p>
            </div>
            <div class="social">

                <!--QQ-->
                <a href="http://wpa.qq.com/msgrd?v=3&uin=805578494&site=qq&menu=yes" target="_blank">
                    <i class="fa fa-qq"></i>
                </a>
                <!--QQ-->

                <!--微博-->
                <a href="javascript:;" rel="nofollow" target="_blank">
                    <i class="fa fa-weibo "></i>
                </a>
                <!--微博-->
                <!--微信-->
                <a id="met-weixin" data-plugin="webuiPopover" data-trigger="hover" data-animation="pop" data-placement='top' data-width='155' data-padding='0' data-content="<div class='text-xs-center'>
                    <img src='{$setting.wechat_code}' alt='官网平台' width='150' height='150' id='met-weixin-img'></div>">
                    <i class="fa fa-weixin"></i>
                </a>
                <!--微信-->
                <!--简繁体切换-->
                <!--简繁体切换-->
            </div>

        </div>
    </div>
</footer>
<div class="foot_info_met_11_4_bottom text-xs-center     " m-id='68' data-bg="|#ff6600|1" data-ifbotc="">
    <div class="main">
        <div class="">
            <a href="tel:4000000000" class="item" target="_blank">
                <i class="fa fa-phone"></i>
                <span>电话咨询</span>
            </a>
        </div>
        <div class="">
            <a href="mailto:email@email.mt" class="item" target="_blank">
                <i class="fa fa-envelope"></i>
                <span>邮件咨询</span>
            </a>
        </div>
        <div class="">
            <a href="https://uri.amap.com/marker?position=112.941052,28.128617&name=长沙洋湖总经济区" class="item" target="_blank">
                <i class="fa fa-map-marker"></i>
                <span>在线地图</span>
            </a>
        </div>
        <div class="">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=00000000&site=qq&menu=yes" class="item" target="_blank">
                <i class="fa fa-qq"></i>
                <span>QQ客服</span>
            </a>
        </div>
    </div>
</div>

<button type="button" class="btn btn-icon btn-primary btn-squared back_top_met_16_1 met-scroll-top" hidden m-id='65' m-type='nocontent'>
    <i class="icon wb-chevron-up" aria-hidden="true"></i>
</button>

<input type="hidden" name="met_lazyloadbg" value="">
<script src="/static/index/js/basic.js"></script>
<script src="/static/index/js/index_cn.js"></script>
<script src="/static/index/js/lang_json_cn.js"></script>
<script src="/static/index/js/slider.js"></script>
<script src="/static/index/js/self.js"></script>
{js href='/static/admin/layui/layui.js'}

</div>
</div>
</body>
</html>

